{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section id="carousel">
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            {{ $items := sort .Site.Data.carousel "weight" }}
            {{ range $i, $item := $items }}
                <div class="item" style="margin-bottom: 96px;">
                    <div class="row" style="display: flex; align-items: center;">
                        {{ if modBool $i 2 }}
                            <div class="col-sm-7">
                                {{ if $item.image }}<img class="img-responsive" src="{{ $item.image }}" alt="">{{ end }}
                            </div>
                            <div class="col-sm-5 right">
                                <h1>{{ $item.title }}</h1>
                                {{ $item.description | safeHTML }}
                            </div>
                        {{ else }}
                            <div class="col-sm-5 left">
                                <h1>{{ $item.title }}</h1>
                                {{ $item.description | safeHTML }}
                            </div>
                            <div class="col-sm-7">
                                {{ if $item.image }}<img class="img-responsive" src="{{ $item.image }}" alt="">{{ end }}
                            </div>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
