
<section class="bar background-image-fixed-2 no-mb color-white text-center">
      <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2> {{ .Site.Params.intro.title | markdownify }} </h2>
                </div>
                <p class="lead">{{ .Site.Params.intro.text | safeHTML }}</p>
                <!--p class="text-center">
                    {{ with .Site.Params.intro.link_url }}
                    <a href="{{ . }}" class="btn btn-template-transparent-main btn-lg">
                    {{ end }}
                        {{ with .Site.Params.intro.link_text }}
                        {{ . | markdownify }}
                        {{ end }}
                    {{ with .Site.Params.intro.link_url }}
                    </a>
                    {{ end }}
                </p -->
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->