{{ if isset .Site.Params "projects" }}
{{ if .Site.Params.projects.enable }}
{{ if gt (len .Site.Data.projects) 0 }}
<section class="bar background-white">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.projects.title | markdownify }}</h2>
                </div>
                <p class="lead">
                    {{ .Site.Params.projects.subtitle | markdownify }}
                </p>
            </div>
        </div>

 <div class="row">
     
     {{ range $index, $element := sort .Site.Data.projects "weight" }}
     {{ if eq (mod $index 3) 0 }}
        <div class="col-md-12">
            <div class="row">
     {{ end }}
        
        <div class="col-md-4">
             <div class="box-image-text blog">
                   {{ with $element.url }}
                   <a href="{{ $element.url }}">
                   {{ end }}  
                       <div class="top">
                         <div class="image" style="overflow:hidden">
                        <img src="{{ .image | relURL }}" class="project-image" alt="" > 
                        </a>
                        </div>
                        </div>
                        
                        <div class="content">  
                        <h4><a href="{{ $element.url }}">{{ $element.title | markdownify  }}</a></h4>
                        <p >{{ $element.description | markdownify }}</p>
                        <p class="read-more">
                         <a href="{{ $element.url }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                        </p>
                        </div>
                    
                </div>
                  </div>
                
        {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.projects) 1 )) }}
            </div>
       
        </div>  <!-- div class="col-md-12" -->
        {{ end }} <!-- if  -->
        {{ end }} <!-- range -->
            
    </div> <!-- /.container -->
        </div>
    
</section>
{{ end }}
{{ end }}
{{ end }}
